{{!-- @glint-nocheck --}}
{{page-title "FrontendMuClResourcesBugRepro"}}

<button {{on "click" this.addNew}} type="button">add new item</button>
<button {{on "click" this.clearAll}} type="button">clear all</button>
{{!-- <button {{on "click" this.swap}} disabled={{this.swapDisabled}} type="button">swap last 2 items</button>
<button {{on "click" this.deleteSecondToLast}} disabled={{this.swapDisabled}} type="button">delete second to last item</button> --}}
<table>
  <thead>
    <th>Position</th>
    <th>Title</th>
    <th>Uri</th>
    <th>PreviousItem title</th>
    <th></th>
  </thead>
  <tbody>
    {{#each @model as |ap|}}
      <tr>
        <td>{{ap.position}}</td>
        <td>{{ap.title}}</td>
        <td>{{ap.uri}}</td>
        <td>{{ap.previousItem.title}}</td>
        <td><button {{on 'click' (fn this.deleteItemWithBug ap)}} type="button">remove item (with bug)</button></td>
        <td><button {{on 'click' (fn this.deleteItemWithoutBug ap)}} type="button">remove item (without bug)</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>